<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h>
  <% if current_user %>
  <%= render partial: 'loggedin' %>
  <% else %>
  <%= render partial: 'loggedout' %>
  <% end %>
</h>
<%= flash[:errors] %>
<%= yield %>

</body>
</html>
